@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
/*---------------Footer----------------*/
.redes {
  background: linear-gradient(to right, #870000, #b60202);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1 rem;
  color: black;
  padding: 20px;
  height: 100%; }

/*--------------Responsive Footer---------------------*/
@media screen and (max-width: 680px) {
  .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #870000, #b60202);
    font-size: 15px; } }

@media screen and (max-width: 680px) {
  .imagen {
    display: flex;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 680px) {
  .redes__ {
    justify-content: center;
    display: flex; } }

@media screen and (max-width: 680px) {
  footer div {
    padding: 2px; } }

/*-------------------Contacto-----------------------------*/
.contacto_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.contacto__ {
  display: flex;
  flex-direction: column;
  padding: 5px; }

.contacto_mapa {
  padding: 20px; }

main {
  min-height: 100vh;
  min-width: 100vw; }

/*--------------Responsive Contacto--------------------*/
@media screen and (max-width: 680px) {
  .contacto_flex {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*-----------Pedidos Especiales---------------*/
.pedidos_ {
  font-family: 'Itim', cursive;
  padding: 20px 30px;
  text-align: center;
  font-size: 2rem;
  background-color: #ff5353; }

.carrousel__ {
  display: grid;
  grid-template-rows: repeat(3, 1.5fr);
  grid-template-columns: repeat(2, 0.5fr);
  gap: 2rem;
  justify-content: center;
  padding: 10px; }

.carousel-imag {
  width: 450px;
  height: 450px;
  border-radius: 30%; }

.carousel__titulo {
  font-family: 'Itim', cursive;
  color: red;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center; }

/*---------------Responsive Pedidos Especiales--------------*/
@media screen and (max-width: 680px) {
  .carrousel__ {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 680px) {
  .carousel-imag {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 680px) {
  .carousel__titulo {
    font-family: 'Itim', cursive;
    color: red;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center; } }

/*-----------------Preguntas Frecuentes------------------*/
.menu_preguntas {
  background-color: #ff5353;
  padding: 20px 30px; }

.menu__ {
  font-family: 'Itim', cursive;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  gap: 1.5rem;
  justify-content: center;
  min-height: 100vh; }

.menu__ div {
  border: 2px solid #ff5353; }

/*------------Tortas-------------------------------*/
.section_tortas {
  display: grid;
  grid-template-columns: repeat(2, 0.4fr);
  grid-template-rows: repeat(3, 1.5fr);
  gap: 3rem;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.section_tortas_ {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section_tortas_img {
  border-radius: 50%;
  background-size: 100% auto;
  width: 300px;
  height: 300px; }

/*-----------------Responsive Tortas----------------------*/
@media screen and (max-width: 680px) {
  .section_tortas {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  background: linear-gradient(to right, #870000, #b60202);
  color: #f3e3e9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Kaushan Script', cursive;
  padding: 20px 40px 0 0;
  text-align: center; }

#btn-menu {
  display: none; }

header label {
  display: none;
  width: 30px;
  height: 48px;
  padding: 10px; }

header label:hover {
  cursor: pointer; }

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-family: 'New Tegomin', serif; }

.menu li {
  text-align: center; }

.menu li {
  flex-grow: 1; }

.menu li:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white; }

/*-------fin header----------*/
main {
  padding: 2rem;
  font-family: 'New Tegomin', serif;
  background: linear-gradient(to right, #eceaf0, #d6d3df); }

.main_nosotros h2 {
  text-align: center;
  border-bottom: groove red; }

.main_nosotros {
  padding: 1rem 3rem;
  background-color: #ff5353;
  font-family: 'Itim', cursive; }

.main_nosotros_items {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  flex-wrap: nowrap;
  font-family: 'Itim', cursive; }

.main_nosotros_items div {
  padding: 2rem;
  border: 2px groove #ff5353; }

.imagen {
  display: flex;
  align-items: center;
  justify-content: center; }

.tarjeta {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black; }

.tarjeta1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black; }

.carousel__imagen {
  border-radius: 50%;
  background-size: 100% auto;
  width: 350px;
  height: 350px; }

.productos {
  color: black;
  text-decoration: none; }

/*---------------Responsive index---------------*/
@media screen and (max-width: 768px) {
  header label {
    display: block;
    display: flex; }
  .menu {
    position: fixed;
    width: 80%;
    background: linear-gradient(to right, #870000, #b60202);
    margin-left: -90%;
    transition: all 0.5s; }
  .menu ul {
    flex-direction: column;
    color: black; }
  .menu li {
    border-top: 1px solid black; }
  #btn-menu:checked ~ .menu {
    margin: 0; }
  header {
    flex-direction: row-reverse;
    justify-content: space-between; }
  header h1 {
    font-size: 35px; } }

/*----------------fin header-------------*/
@media screen and (max-width: 768px) {
  .main_nosotros_items {
    display: flex;
    flex-direction: column; } }
