@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "_footer.scss";
@import "_contacto.scss";
@import "_pedidosespeciales.scss";
@import "_preguntasfrecuentes.scss";
@import "_tortas.scss";


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: linear-gradient(to right, #870000, #b60202);
    color: rgb(243, 227, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Kaushan Script', cursive; 
    padding: 20px 40px 0 0;
    text-align: center;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 48px;
    padding: 10px;
}
    

header label:hover {
    cursor: pointer;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-family: 'New Tegomin', serif;
}

.menu li{
    text-align: center;
}

.menu li{
    flex-grow: 1;
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

/*-------fin header----------*/

main{
    padding: 2rem;
    font-family: 'New Tegomin', serif;
    background: linear-gradient(to right, #eceaf0, #d6d3df); 
}

.main_nosotros h2{
    text-align: center;
    border-bottom: groove red;
}

.main_nosotros{
    padding: 1rem 3rem;
    background-color: rgb(255, 83, 83);
    font-family: 'Itim', cursive;

    
}


.main_nosotros_items{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex-wrap: nowrap;
    font-family: 'Itim', cursive;

}

.main_nosotros_items div{
    padding: 2rem;
    border: 2px groove rgb(255, 83, 83) ;

}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black; 
}

.tarjeta1{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black; 
}

.carousel__imagen{
    border-radius: 50%;
    background-size: 100% auto;
    width: 350px;
    height: 350px;
}


.productos{
    color: black;
    text-decoration: none;
}


/*---------------Responsive index---------------*/

@media screen and (max-width:768px){

    header label {
        display: block;
        display: flex;
    }

    .menu {
        position: fixed;
        width: 80%;
        background: linear-gradient(to right, #870000, #b60202);
        margin-left: -90%;
        transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;        
        color: black;
    }

    .menu li {
        border-top: 1px solid black;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }  
    
    header{
    flex-direction: row-reverse;
    justify-content: space-between;
    } 

    header h1{
        font-size: 35px;
    }
}

 /*----------------fin header-------------*/
 @media screen and (max-width:768px){
     .main_nosotros_items{
         display: flex;
         flex-direction: column;
     }
 }


